/* Comment Section */

.comment-container p{
	margin: 0;
}

.comment-container{
	background-color: rgba(0, 148, 94, 0.28);
	flex-direction: column;
	display: flex;
	align-items: center;
	font-size: .8rem;
	padding: 3rem 0 0;
}

.comment-wrapper{
	max-width: 70%;
	background-color: #ffffff;
	border: 1px solid #00945E;
	margin-bottom: 1.5rem;
	display: flex;
	padding: 1rem 1rem 1rem 0;
	border-radius: 0.25rem;
}

.comment-image img{
	height: 46px;
	padding: 0.5rem;
}

.name-time-options{
	display: flex;
	justify-content: space-between;
	margin-bottom: 0.5rem;
}

.name-time,
.comment-reactions,
.comment-like,
.comment-dislike,
.comment-reply{
	display: flex;
}

.comment-like,
.comment-dislike,
.comment-reply{
	margin-right: 1rem;
}

.like-image,
.dislike-image,
.reply-image{
	margin-right: 0.2rem;
}

.name-time p{
	margin-right: 1rem;
}

.comment-write-up{
	margin-bottom: 0.5rem;
}

.comment-name{
	color: #005938;
}

.active{
	color: #005D3B;
}

.section-edit-delete{
	display: none;
	width: 100%;
	align-items: right;
	justify-content: flex-end;
	z-index: 10;
	right: 0;
	top: 0;
}
.section-edit-delete.show{
	display: flex;
}

.edit-delete{
	background-color: #ffffff;
	border: 1px solid #005D3B;
	padding: 0.5rem 2.5rem;
	text-align: center;
	position: relative;
	top: -95px;
	right: 5px;
}

.edit,
.delete{
	padding: 0.2rem;
	font-size: .9rem;
}

.reply{
	flex-direction: column;
}
.reply-container,
.reply-wrapper{
	display: flex;
}

.reply-wrapper{
	margin: 1rem 0 0 4rem;
}

.comment-input{
	width: 60%;
	background-color: #ffffff;
	display: flex;
	justify-content: space-between;
	padding: 0.5rem;
	margin-bottom: 1rem;
}

.comment-input input{
	border: none;
}

.comment-input input::placeholder{
	color: #BCBDC1;
	font-size: 0.8rem;
}
.comments-reply {
   font-size: 0.7rem;
}
.reply-comment-option {
	width: 1rem;
}

@media (max-width:400px) {
	.comment-profile-image{
		width: 35px;
	} 
	.reply-wrapper {
		margin-left: 2rem;
	}
}